/.quarto/
**/*.quarto_ipynb

# Archivos de configuración de entorno (Variables secretas)
.env
.env.local
.env.dev
.env.prod

# Ignorar entornos virtuales de Python
venv/
.venv/
env/
ENV/

# Archivos compilados de Python
**/__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema operativo (macOS y Windows)
.DS_Store
.AppleDouble
.LSOverride
Thumds.db
Ehthumbs.db
